.containerBigCard{
    margin-right: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
}

.bigCardTitle > h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 1.4rem;
}

.bigCardDescription {
    font-size: 0.9rem;
    margin-top: 20px;
    margin-left: 5px;
}

.bigCardDescription > p > a {
    color: #808080;
}

.bigCardPhoto > img {
    width: 100%;
    min-width: 490px;
    border-radius: 10px;
}

@media screen and (max-width: 1180px){
    .containerBigCard{
        margin-right: 0px;
    }
}

@media screen and (max-width: 580px){
    .containerBigCard{
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    
    .bigCardDescription {
        width: 360px;
    }
    
    .bigCardPhoto > img {
        width: 350px;
        min-width: 350px;
    }
}