<section class="containerContent">
    <div class="coverOne">
        <img src="{{photo}}">
    </div>
    <div class="title">
        <h1>{{title}}</h1>
        <a [routerLink]="['']"> << Voltar </a>
    </div>
    <div class="description">
        <p>{{description}}</p>
    </div>
    
    <section class="containerExtra">
        <section class="containerExtraCoverTwo">
            <img class='imgTwo' src="{{photo2}}">
        </section>
    
        <section class="containerExtraCoverThree">
            <img class='imgThree' src="{{photo3}}">
        </section>
    </section>
</section>

