<section class="containerMenu">
    <section class="containerIcon">
        <img class="imgControl" src="../../../assets/game.png" alt="Controle de video game ilustrativo">
    </section>
    <section class="containerElements">
        <ul class="elements">
            <li><a href="https://www.linkedin.com/in/mislenemoura/" target="_blank"><img src="../../../assets/linkedin (1).png" alt=""></a></li>
            <li><span>•</span></li>
            <li><a href="https://github.com/MisleneSM" target="_blank"><img src="../../../assets/github.png" alt=""></a></li>
        </ul>
    </section>
</section>
